*.dll
*.pdb
*.zip

Module.Modified.xml
Decisions.GoogleDrive.TestSuite/bin/
Decisions.GoogleDrive.TestSuite/obj/
Decisions.GoogleDrive/bin/
Decisions.GoogleDrive/obj/
Decisions.GoogleDrive/packages/
Decisions.GoogleDrive/.vs

/.idea/.idea.Decisions.GoogleDrive/.idea/.gitignore
/.idea/.idea.Decisions.GoogleDrive/.idea/encodings.xml
/.idea/.idea.Decisions.GoogleDrive/.idea/indexLayout.xml
/.idea/.idea.Decisions.GoogleDrive/.idea/riderModule.iml
/.idea/.idea.Decisions.GoogleDrive/.idea/vcs.xml
